<header class="main-header">
    <a class="main-header__brand">HR Home</a>

    <nav class="main-nav">
        <ul class="main-nav__items">
            <li class="main-nav__item">
                <a routerLink="/hrprofile">Profile</a>
            </li>
            <li class="main-nav__item">
                <a routerLink="/newjob">Post New Job</a>
            </li>
            <li class="main-nav__item">
                <a routerLink="/managerallrequest">View Applied Candidates</a>
            </li>
            <li class="main-nav__item main-nav__item__cta">
                <a href="">Logout</a>
            </li>
        </ul>
    </nav>
</header>