<header class="main-header">
    <a class="main-header__brand">Team Leader Home</a>

    <nav class="main-nav">
        <ul class="main-nav__items">
            <li class="main-nav__item">
                <a routerLink="/teamleaderprofile">Profile</a>
            </li>
            <li class="main-nav__item">
                <a routerLink="/jobrequest">New Request</a>
            </li>
            <li class="main-nav__item">
                <a routerLink="/managerallrequest">All Requests</a>
            </li>
            <li class="main-nav__item main-nav__item__cta">
                <a href="">Logout</a>
            </li>
        </ul>
    </nav>
</header>